.h1{
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 5.5rem;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .slide-in {
    animation: slideInFromBottom 1s ease-out;
  }
  